# بایگانی‌ها و فایل‌های فشرده
*.zip
*.tar.gz

# فایل‌های مربوط به پایتون
*.pyc
__pycache__/
*.egg-info/
venv/
env/
.env

# فایل‌های مربوط به ویرایشگر کد
.vscode/
.idea/

# فایل‌های سیستم عامل
.DS_Store
Thumbs.db

# دیتابیس‌ها
*.sqlite3
db.sqlite3

# فایل‌های مربوط به جنگو
/staticfiles/
/media/
*.log

# متغیرهای محیطی
.env.*