{% extends "base.html" %}
{% load static %}

{% block title %}تغییر رمز عبور موفقیت‌آمیز{% endblock %}

{% block content %}

<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="sidebar-item contact-form">
                    <div class="sidebar-heading">
                        <h2>عملیات موفق</h2>
                    </div>
                    <div class="content text-center">
                        <div class="alert alert-success">
                            <p>رمز عبور شما با موفقیت تغییر کرد.</p>
                        </div>
                        <a href="{% url 'home_app:home' %}" class="main-button">بازگشت به صفحه اصلی</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
