{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}تغییر رمز عبور{% endblock %}

{% block content %}

<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="sidebar-item contact-form">
                    <div class="sidebar-heading">
                        <h2>تغییر رمز عبور</h2>
                    </div>
                    <div class="content">
                        
                        <form method="post">
                            {% csrf_token %}
                            
                            {% if form.errors %}
                                <div class="alert alert-danger text-center p-2" style="font-size: 0.9rem;">
                                    <p>لطفاً خطاهای زیر را اصلاح کنید:</p>
                                    {{ form.non_field_errors }}
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <p class="mb-1">{{ error }}</p>
                                        {% endfor %}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="form-group mb-3">
                                <label for="{{ form.old_password.id_for_label }}">رمز عبور فعلی:</label>
                                {% render_field form.old_password class="form-control" %}
                            </div>
                            <div class="form-group mb-3">
                                <label for="{{ form.new_password1.id_for_label }}">رمز عبور جدید:</label>
                                {% render_field form.new_password1 class="form-control" %}
                            </div>
                            <div class="form-group mb-4">
                                <label for="{{ form.new_password2.id_for_label }}">تکرار رمز عبور جدید:</label>
                                {% render_field form.new_password2 class="form-control" %}
                            </div>

                            <div class="form-group">
                                <button type="submit" class="main-button">تغییر رمز عبور</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
